<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="edu.tjrac.swant.richtexteditor">

    <application>
        <activity
            android:name=".RichTextEditorActivity"
            android:label="@string/title_activity_rich_text_editor"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".markdown.MarkdownEditorActivity"
            android:theme="@style/AppTheme.Day.StrasTranslate"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter tools:ignore="AppLinkUrlError">

                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="application/plain"></data>

            </intent-filter>
        </activity>
    </application>

</manifest>